# MySQL Configuration
MYSQL_HOST=srv1076.hstgr.io
MYSQL_USER=u801415719_rafaelpadel
MYSQL_PASSWORD=+5mNmLbAjF
MYSQL_DATABASE=u801415719_rafaelpadel
ADMIN_PASSWORD=admin123
JWT_SECRET=padel_secret_key
